.searchForm {
  width: 806px;
  margin: 0 auto;
  text-align: right;
  margin-top: 30px;


  .myText {
      height: 28px;
      background: url('./search.jpg') no-repeat 2px;
      text-indent: 23px;
      border: none;
      border-bottom: 1px solid gray;

      &:focus {
        outline: none;
      }
    }

  .searchButton {
    border: 0;
    padding: 0;
    background: 0;

    .searchIcon {
      vertical-align: middle;
      margin-left: 5px;
      font-size: 30px;
      cursor: pointer;
    }
  }
}